* {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header{
    flex: 10;
    text-align: center;
    background-color: #2B1B17;
  }
  

  .main{
    flex: 80;
    display: flex;
    /* justify-content: center; */
    
  }
  .left-side-bar{
    flex: 5;
    /* text-align: center; */
    background-color: #2B2217;
  }
  .left-side-bar > div {
    margin-top: 0.5em;
  }
  .left-side-bar > div > ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0 1rem;

  }
  .left-side-bar > div > ul > li {
    margin-bottom: 0.5rem;
  }
  .left-side-bar > div > ul > li > a{
    color: #D1D0CE;
  }
  .content{
    flex: 25;
    /* text-align: center; */
    background-color: #D1D0CE;
  }
  .footer{
    flex: 10;
    text-align: center;
    background-color: #2B1B17;
   
  }

 
  
  input[type="text"], input[type="password"], input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
  }
  
  /* input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  } */
  a{
    text-decoration: none;
  }
  
  .btn{
    font-size: 0.9rem ;
    font-weight: 400 ;
    /* line-height: 1.5 !important; */
    padding: 12px 20px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-primary{
    color: #fff;
    border-color: #0d6efd;
    background-color: #0d6efd;
  }
  .btn-primary:hover{
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
  
  .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
  }
  
  /* .btn-warning{
    color: #000;
    border-color: #ffc107;
    background-color: #ffc107;
  }
  .btn-warning:hover{
    color: #000;
    border-color: #ffc720;
    background-color: #ffca2c;
  } */
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 1em auto 1em auto;
    width: 50%;
    /* margin-top: 0.5em; */
   
  }
  
  .table-container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    /* margin: auto; */
    margin: 1em auto 1em auto;
    width: 90%;
  
  }
  
  .error-message{
    color: red;
    margin-bottom: 1rem;
  }
  
  .link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
  }
  .link a {
    color: #666;
  }
  
  .link-primary{
    text-decoration: none; 
    color: #2255ff;
  }
  .link-danger{
    text-decoration: none; 
    color: #D50000;
  }
  
  
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th,
  td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .menu{
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    color: coral;
    /* margin-bottom: 1rem; */
    /* text-align: center; */
  }
  .menu a {
    color: #D1D0CE;
  }
  
  .invalid-input{
    color: red;
    margin-bottom: 10px;
  }
  .muted{
    opacity: 1;
    color: #6c757d;
  }
  .small {
    font-size: 0.875em;
  }
  .copy-right{
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    color: coral;
  }
  .copy-right a{
    color: #D1D0CE;
  }
  